.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.wallet-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px;
  margin-right: 8px; /* Adds space between icon and text */
  vertical-align: middle; /* Aligns icon with the text */
}

.wallet-button-group {
  position: relative;
}

.wallet-button {
  background-color: #FFD700;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.wallet-button:hover {
  background-color: #e6be00;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* Centers dropdown horizontally */
  background-color: #333;
  border-radius: 8px;
  width: 200px; /* Width for desktop */
  max-width: 90vw; /* Prevents overflow on smaller screens */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
}

.dropdown-item {
  color: #fff;
  padding: 12px 16px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #444;
}

/* Mobile-specific styling */
@media (max-width: 600px) {
  .dropdown-menu {
    width: 90vw; /* Almost full width on mobile */
    left: 50%;
    transform: translateX(-50%); /* Center-align for mobile */
  }
}
